.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

.header-container {
    position: relative;
    background-color: #ffffffe6;
    width: 100vw;
    .cart-button {
        background-color: transparent;
        box-shadow: 0 0 0 0;
    }    
    .mat-icon {
        color: black;
    }
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .demo-section + .demo-section {
    margin-top: 16px;
  }