<mat-toolbar class="header-container">
   
  
    <mat-toolbar-row>
      <span>{{ welcomeText() }} </span>
      <span class="example-spacer"></span>
      <div *ngIf="isOnMenu" class="total">
        R{{totalPrice$ | async | currency}}
      </div>
      <button class="cart-button" mat-mini-fab aria-label="Cart Button" routerLink="/cart" (click)="onClick()">
          <mat-icon 
            matBadge="{{ totalItems$ | async }}"
            class="demo-section" 
            aria-hidden="false" 
            aria-label="Example user verified icon"
          >
          shopping_cart
        </mat-icon>
      </button>
    </mat-toolbar-row>
  
  </mat-toolbar>
  