<div class="button-group">
    <button
      mat-raised-button
      class="google-button"
      (click)="loginWithGoogle()"
      >
      <!-- *ngIf="!isLoggedIn" -->
      <div class="google-content">
        <img
          class="img-icon"
          src="../../../assets/googleIconSVG.svg"
          alt="google icon"
          width="24"
          height="24" />
        <div>oogle Login</div>
      </div>
    </button>
    <!-- <button
        mat-raised-button
        color="warn"
        class="logout-button"
        *ngIf="isLoggedIn" 
        (click)="logout()">
        Logout
    </button> -->
</div>
