<router-outlet>
  

</router-outlet>


<div class="cart-container">

  
  <mat-stepper orientation="vertical" #stepper (selectionChange)="onStepChange($event, stepper)">

    <!-- step lista de compras -->
    <mat-step >
      <ng-template matStepLabel>Itens Selecionados</ng-template>
      <div *ngFor="let products of products$ | async ">
        <mat-card class="card-container">        
    
          <img class="card-img" src="../../assets/entrada1.webp" >
          <mat-card-title class="card-title"> 
            <p>{{products.id }}</p>
            <p> R{{products.price | currency}}</p>
            <p> Quantidade: {{products.quantity}}</p>
          </mat-card-title>  
            
          <mat-card-actions class="card-actions">
           
            <button class="card-button" mat-mini-fab aria-label="remove item button" (click)="decrementQuantity(products.id)">
              <mat-icon
                class="card-icon" 
                aria-hidden="false" 
                aria-label="Example user verified icon"                
              >
                remove_circle_outline
              </mat-icon>
            </button>

            <button class="card-button" mat-mini-fab aria-label="add cart Button" (click)="incrementQuantity(products.id)">
              <mat-icon  
                class="card-icon" 
                aria-hidden="false" 
                aria-label="Example user verified icon"                 
              >
                add_circle_outline
              </mat-icon>
            </button>
         
          </mat-card-actions>       
        </mat-card>
      </div>

      <mat-divider class="divider"/>

        <div class="values-container">
          <div>
            <p>Total No Carrinho</p>
            <p> R{{totalPrice$ | async | currency}}</p>
          </div>
          <button mat-button matStepperNext  [disabled]="!(this.hasProductsInCart$ | async)">Proximo</button>
        </div>        
    </mat-step>


    <!-- step dados do usuario -->
    <mat-step [stepControl]="userData" >
      <ng-template matStepLabel>Cadastro / Login </ng-template>
      <!-- Logue google
      <app-login-social></app-login-social>
      ou Preencha os dados abaixo -->
      
      <form [formGroup]="userData" (ngSubmit)="onSubmit()">

        <mat-form-field >
          <mat-label>Nome</mat-label>
          <input 
            matInput 
            formControlName="name"
            placeholder="Nome ou como gostaria de ser chamado" 
            value="''"
            autocomplete="name"
            required
          >
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Telefone/Celular</mat-label>
          <input 
            matInput 
            formControlName="phone" 
            placeholder="xx xxxxx xxxx" 
            value="''" 
            autocomplete="tel"
            required 
          >
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Endereço</mat-label>
          <input
            matInput 
            formControlName="address" 
            placeholder="Seu endereço aqui" 
            value="''"
            autocomplete="street-address"
            required 
          >
        </mat-form-field>
        
        <mat-form-field>
        <mat-label>N°</mat-label>
          <input 
            matInput 
            formControlName="addressNumber" 
            placeholder="número do local" 
            value="''"            
            required 
          >
        </mat-form-field>
        
        
        <mat-form-field>
          <mat-label>Bairro</mat-label>
          <input 
            matInput 
            formControlName="neighborhood"
            placeholder="Seu bairo aqui"
            value="''"
            autocomplete="address-level2"
            required
          >
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Ponto de Referencia </mat-label>
          <input matInput formControlName="reference" placeholder="Prox a xxx, em frente a xxxx" value="''">
        </mat-form-field>

      </form>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext [disabled]="!userData.valid"  (click)="onSubmit()">Proximo</button>
      </div>
    </mat-step>

    <!-- step dados de pagamento -->
    <mat-step [stepControl]="paymentData">      
      <ng-template matStepLabel>Método de Pagamento</ng-template>
 
      <form [formGroup]="paymentData" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Forma de Pagamento</mat-label>
          <mat-select formControlName="paymentMethod" required [(value)]="selected" (selectionChange)="onSelectionChange($event.value)">
            <mat-option value="card">Cartão</mat-option>
            <mat-option value="pix">Pix</mat-option>
            <mat-option value="cash">Dinheiro</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div *ngIf="textControl"> Após efetuar o Pix mande o comprovante pelo WhatsApp. Dados do Pix: 13 99116 4296</div>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button [disabled]="!userData.valid || !paymentData.valid" (click)="onSubmit()">Enviar Pedido</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<div>
  <button 
  mat-raised-button 
  class="menu-button"         
  routerLink="/menu"
>
 Retornar ao Cardapio
  <img class="img-icon" src="../../assets/retaurantIconSVG.svg" alt="retaurant icon" width="24" height="24" />
  
</button>  
</div>
