<router-outlet>
  

</router-outlet>

<!-- diminuir tamanho do card image -->


<div class="cart-container">
  <mat-stepper orientation="vertical" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Itens Selecionados</ng-template>
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title> item.name </mat-card-title>
            <mat-card-subtitle> item.description </mat-card-subtitle>
            <img mat-card-md-image src="../../assets/entrada1.webp" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-divider class="divider"></mat-divider>
        <mat-card-actions class="card-actions">
          <p>Preço: R$item.price</p>
         
            <button class="card-button" mat-mini-fab aria-label="remove item button">
              <mat-icon class="card-icon" aria-hidden="false" aria-label="Example user verified icon">remove_circle_outline</mat-icon>
            </button>
            <p>1</p>
            <button class="card-button" mat-mini-fab aria-label="add cart Button">
              <mat-icon  class="card-icon" aria-hidden="false" aria-label="Example user verified icon">add_circle_outline</mat-icon>
            </button>
       
        </mat-card-actions>       
      </mat-card>
      <mat-divider class="divider"></mat-divider>
        <div class="values-container">
          <div>
            <p>Total No Carrinho</p>
            <p>R$ 549,00</p>
          </div>
          <button mat-button matStepperNext>Proximo</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Cadastro / Login </ng-template>
        Logue google
        <app-login-social></app-login-social>
        ou Preencha os dados abaixo

        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Endereço</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        
        <mat-form-field>
        <mat-label>N°</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                required>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Apartamento/Casa</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Proximo</button>
        </div>
      </form>
    </mat-step>

    <mat-step>      
      <ng-template matStepLabel>Método de Pagamento</ng-template>
 

      <mat-form-field>
        <mat-label>Selecione Uma Forma de Pagamento</mat-label>  
        <select matNativeControl required>
          <option value="Débito">Débito</option>
          <option value="Crédito">Crédito</option>
          <option value="Pix">Pix</option>
          <option value="Dinheiro">Dinheiro</option>
          <option value="Refeição">Cartão Refeição</option>
        </select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button (click)="stepper.reset()">Enviar Pedido</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<div>
  <button 
  mat-raised-button 
  class="menu-button"         
  routerLink="/menu"
>
 Retornar ao Cardapio
  <img class="img-icon" src="../../assets/retaurantIconSVG.svg" alt="retaurant icon" width="24" height="24" />
  
</button>  
</div>
