.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
    height: 100vh;
    background: url('../../assets/homeBGvertical.webp') center/cover no-repeat;

    @media (max-width: 400px) {
      background: url('../../assets/homeBGhorizontal.webp') center/cover no-repeat;      
    }
  
    .card-container {
      text-align: center;
      margin-top: 1rem;
      padding: 20px;
      max-width: 400px;
      background-color: #ffffffe6;     
    }
  
  }
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10rem;
    width: 20rem;
    ::ng-deep button .mdc-button__label {
      display: flex;
      align-items: center;
    }
    button {   
      &.menu-button {
        background-color: #000000b0; // Botão preto (segundo)
        color: #ffffff; // Cor do texto branco
        .img-icon {
         margin-left: 1rem;
        } 
      }
    }

    // @media (max-width: 400px) {
    //   min-width: 75%;
    // }
  }


